In [94]:
import pandas as pd

In [95]:
df = pd.read_csv("data.csv") #reading only/ defending the variable for the data file
new_df=df.loc[:,["reviews.rating","reviews.title","reviews.text"]]
'''The new data file I created will take the first 100 row with the selected columns!'''
new_df.to_csv("reviewsOnly.csv") # Naming the new data file and converting it to .csv

C:\Users\h4yat\AppData\Local\Temp\ipykernel_16048\2553718368.py:1: DtypeWarning: Columns (1,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data.csv") #reading only/ defending the variable for the data file

In [96]:
import numpy as np
def ch(percent):
    if percent <= 45:
        return "awful"
    else:
        return "awesome"
#the function will be useful

In [97]:
new_df=pd.read_csv("reviewsOnly.csv") #reading the file
new_df["percent"] = new_df['reviews.rating'] /5 * 100 #create a new column its value is the rate in %
new_df["rate"] = np.where(new_df["reviews.rating"]<4,"bad","good") #new column its value is bad or good depending on the rate
new_df["rate2"] = new_df["percent"].map(ch) #new column its value is by taking the percents' value and apply the function above
#new_df=df.loc[:["rate","reviews.rating","reviews.title","reviews.text"]]
new_df.to_csv("reviewsOnly.csv") #Recreate the new data file with the new columns
new_df["rate2"] #print the new table
'''apply() و map() متشابهتان في تطبيقهما على كل عنصر في سلسلة.
apply() أكثر مرونة وتُستخدم لعمليات مُعقدة.
map() أسرع وأكثر كفاءة لعمليات بسيطة.
applymap() تُستخدم لتطبيق وظائف على DataFrame بأكملها أو على صفوفها أو أعمدتها.'''

'apply() و map() متشابهتان في تطبيقهما على كل عنصر في سلسلة.\napply() أكثر مرونة وتُستخدم لعمليات مُعقدة.\nmap() أسرع وأكثر كفاءة لعمليات بسيطة.\napplymap() تُستخدم لتطبيق وظائف على DataFrame بأكملها أو على صفوفها أو أعمدتها.'

In [98]:
new_df['rate'].value_counts()
# print the num of occurance for each value in 'rate'
#used to know how much it appers

rate
good    32349
bad      2311
Name: count, dtype: int64

In [99]:
groups= new_df.groupby('rate')
groups.groups
#يبطبع لك كل قيمة للريت بأي صف طلعت
#used to know WHERE it appears

{'bad': [117, 126, 169, 222, 226, 241, 281, 297, 298, 310, 338, 354, 371, 421, 431, 444, 446, 490, 526, 536, 542, 607, 609, 633, 635, 649, 663, 693, 706, 727, 728, 751, 762, 764, 766, 792, 828, 847, 851, 869, 891, 898, 899, 903, 907, 924, 948, 958, 1020, 1038, 1050, 1069, 1081, 1171, 1207, 1228, 1229, 1236, 1262, 1282, 1284, 1311, 1318, 1341, 1355, 1368, 1372, 1399, 1400, 1431, 1474, 1495, 1502, 1575, 1584, 1610, 1663, 1672, 1711, 1712, 1722, 1739, 1761, 1803, 1818, 1825, 1829, 1866, 1884, 1898, 1902, 1904, 1907, 1952, 1976, 1980, 1999, 2022, 2027, 2109, ...], 'good': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]}

In [100]:
new_df.duplicated('reviews.title').value_counts()
# check the number of duplicated titles and return them as true/false
# then just print the number of Occurrence using value count function

False    19767
True     14893
Name: count, dtype: int64

In [101]:
# new_df.drop_duplicates(' put the column you want ') you can also let it empty to check every raw is unique 
# this will delete duplicated items and store the new data file

In [102]:
new_df.isna().sum()
#calc the NaN values in each column

Unnamed: 0         0
reviews.rating    33
reviews.title      6
reviews.text       1
percent           33
rate               0
rate2              0
dtype: int64

In [103]:
new_df['reviews.rating'].fillna('00000')

0        5.0
1        5.0
2        5.0
3        4.0
4        5.0
        ...
34655    3.0
34656    1.0
34657    1.0
34658    1.0
34659    1.0
Name: reviews.rating, Length: 34660, dtype: object